.container {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    color: #8B0000;          /* vermelho escuro */
    font-size: 10px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.formulario {     
    display: flex; 
    flex-direction: column; 
    margin-top: 5rem;
    max-width: 40rem;
}

.input {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border-width: 1rem;
    border-color: black;
}

.button {
    background-color: #8B0000;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

.box1 {
    width: 6rem;
}

.box2 {
    width: 25srem;
}

.lista {
    border-radius: 1rem;
    border-color: darkgray;
    background-color: whitesmoke;
}